@page "/Minesweeper"

<h3>Minesweeper</h3>
<div id="game">
    <div id="field"> 
        @for (int r = 0; r < ROWS; r++)
        {
            <div>
                @for (int c = 0; c < COLS; c++)
                {
                    <button class="btn btn-primary btn-size" @onclick="() => _game.TryField(c, r)">
                        @_game.GetFieldDisplay(c, r)
                    </button>

                }
            </div>
        }
</div>    
    <button btn btn-primary @onclick="() => _game = new MineSweeper(COLS,ROWS)">Reset</button>
    <button btn btn-primary @onclick="() => _game.SetBombs()">Set random bombs</button>
    <button btn btn-primary @onclick="() => _game.Reveal()">Reveal</button>
    <button btn btn-primary  @onclick="() => _game.TryField(5,5)">weq</button>
    <br/>
    <h1>Winner: </h1>
</div>

@code { //💣
    static int COLS = 20;
    static int ROWS = 20;
    private MineSweeper _game = new(COLS,ROWS);
    public string this[int c, int r] => _game.GetFieldDisplay(c, r);
}