@page "/Minesweeper"

<h3>Minesweeper</h3>
<div id="game">
    <div id="field"> 
        @for (int r = 0; r < ROWS; r++)
        {
            int locr = r;
            <div>
                @for (int c = 0; c < COLS; c++)
                {
                    int locc = c;
                    
                    <button class="btn btn-primary btn-size">@_game[c,r]</button>
                }
            </div>
        }
</div>    
    <button btn btn-primary @onclick="() => _game = new MineSweeper(COLS,ROWS)">Reset</button>
    <button btn btn-primary @onclick="() => _game.SetBombs()">Set random bombs</button>
    <br/>
    <h1>Winner: </h1>
</div>

@code { //💣
    static int COLS = 20;
    static int ROWS = 20;
    private MineSweeper _game = new(COLS,ROWS);
    
}